<section class="Hero Hero--home">
    <h1 class="u-hiddenVisually">Hero</h1>

     <div class="Section Section--intro-home Section--black ">
            <h1 class="u-hiddenVisually">About Paul Best</h1>

            <div class="Grid Grid--fit">
                <div class="Grid-cell u-posRelative">
                    <div class="u-lg-size10of12 MainText-text MainText-text--home">

                        <div class="u-showForSmallOnly LoadIn js-way-aboutMb">
                            <div class="MainText-titleMb">About Paul Best</div>

                            <h2 class="H2 u-colorWhite">
                                ISL Studios is the production arm of digital agency, <a class="ButtonGray" href="https://isl.co" target="_blank">ISL</a>. We create world-class brand content for digital, social and broadcast.
                            </h2>
                        </div>

                        <h2 class="H2 u-colorWhite u-showForMedium LoadIn js-way-mainText">
                            UX Director at  <a class="ButtonGray" href="https://isl.co" target="_blank">ISL</a>.  I have 10+ years experience as a strategic design leader & user researcher.
                        </h2>
                    </div>

                    <div class="LineDecoration LineDecoration--home-one"></div>
                    <div class="LineDecoration LineDecoration--home-two">
                        <div class="LineDecoration-text LoadIn js-way-aboutDt u-textCenter">About my Role</div>
                    </div>
                    <div class="LineDecoration LineDecoration--home-three"></div>
                </div> <!-- end .Grid-cell -->
             <!-- end .Grid -->
        </div>

    <!--<div class="Grid-cell">
            <div class="u-posRelative LoadIn LoadIn--hero js-way-heroItem">
                <div class="Hero-video Player u-posRelative">
                    <video class="Hero-videoBg js-lazyload lazy-hidden" id="js-homepage-hero-video" alt="ISL - An award winning digital agency founded on invention" loop="" autoplay="" muted="" volume="0" src="https://player.vimeo.com/external/232973115.hd.mp4?s=788bc7aef63ba35db7994613a2e8f807f5c03bcc&profile_id=175"></video>


                    <div class="Player-content Grid">
                        <div class="Grid-cell u-sm-size12of12 u-textCenter">
                            <a class="Player-button is-visible Player-hoverTrigger u-flexOrderNone" id="js-play-reel" aria-label="Play the video">
                                <span class="Player-icon">
                                    <svg width="58" height="68" viewBox="0 0 58 68" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 7.462v53.074L49.996 34 4 7.46zm-4 60V.536L58 34 0 67.46z" fill="#FFF" fill-rule="nonzero"/>
                                    </svg>
                                </span>
                                <span class="Player-cta">Play the Video</span>
                            </a>
                            <h4 class="Player-sideText u-flexOrderFirst Player-sideText--left">ISL Studios</h4>
                            <h4 class="Player-sideText u-flexOrderLast Player-sideText--right">2017 Reel</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end .Grid-cell -->
    </div> <!-- end .Grid -->
</section>
