<!-- Projects list for the homepage -->

<div class="Grid--fit">

    <div class="Grid-cell Projects-inner Projects-listWrap">
        
            
                <div class="Projects-item js-way-project-home LoadInLeft"
                       v-show="currentFilter == 'all' || currentFilter == 'Live Action'">
                    <a class="Projects-item-link" href="/projects/19crimes/">
    <img src="/static/img/projects/thumbs/19crimes.jpg" alt="TEST: TEST">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">TEST</span>
            <span class="projectName"> / &ldquo;TEST&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">TEST</div>
                <div class="clientName">TEST</div>
            </div>

            <div class="projectType">Live Action</div>
        </div>
    </div>
</a>

                </div>
            
        
            
                <div class="Projects-item js-way-project-home LoadInRight"
                       v-show="currentFilter == 'all' || currentFilter == 'Live Action'">
                    <a class="Projects-item-link" href="/projects/danimals-momfidence/">
    <img src="/static/img/projects/thumbs/danimals-momfidence.jpg" alt="Danimals: Momfidence">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">Danimals</span>
            <span class="projectName"> / &ldquo;Momfidence&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">Momfidence</div>
                <div class="clientName">Danimals</div>
            </div>

            <div class="projectType">Live Action</div>
        </div>
    </div>
</a>

                </div>
            
        
            
                <div class="Projects-item js-way-project-home LoadInLeft"
                       v-show="currentFilter == 'all' || currentFilter == 'Live Action'">
                    <a class="Projects-item-link" href="/projects/dramamine-gift-of-flight/">
    <img src="/static/img/projects/thumbs/dramamine-gift-of-flight.jpg" alt="Dramamine: Gift of Flight">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">Dramamine</span>
            <span class="projectName"> / &ldquo;Gift of Flight&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">Gift of Flight</div>
                <div class="clientName">Dramamine</div>
            </div>

            <div class="projectType">Live Action</div>
        </div>
    </div>
</a>

                </div>
            
        
            
                <div class="Projects-item js-way-project-home LoadInRight"
                       v-show="currentFilter == 'all' || currentFilter == 'Live Action'">
                    <a class="Projects-item-link" href="/projects/volkswagen-the-pitch/">
    <img src="/static/img/projects/thumbs/volkswagen-the-pitch.jpg" alt="Volkswagen: World Auto - The Pitch">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">Volkswagen</span>
            <span class="projectName"> / &ldquo;World Auto - The Pitch&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">World Auto - The Pitch</div>
                <div class="clientName">Volkswagen</div>
            </div>

            <div class="projectType">Live Action</div>
        </div>
    </div>
</a>

                </div>
            
        
            
                <div class="Projects-item js-way-project-home LoadInLeft"
                       v-show="currentFilter == 'all' || currentFilter == 'Live Action'">
                    <a class="Projects-item-link" href="/projects/ept-moment-of-truth/">
    <img src="/static/img/projects/thumbs/ept-moment-of-truth.jpg" alt="EPT: Moment of Truth">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">EPT</span>
            <span class="projectName"> / &ldquo;Moment of Truth&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">Moment of Truth</div>
                <div class="clientName">EPT</div>
            </div>

            <div class="projectType">Live Action</div>
        </div>
    </div>
</a>

                </div>
            
        
            
                <div class="Projects-item js-way-project-home LoadInRight"
                       v-show="currentFilter == 'all' || currentFilter == 'Animation'">
                    <a class="Projects-item-link" href="/projects/mobile-future-myir16/">
    <img src="/static/img/projects/thumbs/mobile-future-myir16.jpg" alt="Mobile Future: Mobile Year in Review">

    <div class="ProjectInfo">
        <div class="ProjectInfo-initial">
            <span class="clientName">Mobile Future</span>
            <span class="projectName"> / &ldquo;Mobile Year in Review&rdquo;</span>
        </div>

        <div class="ProjectInfo-large">
            <div class="innerMiddle">
                <div class="projectName">Mobile Year in Review</div>
                <div class="clientName">Mobile Future</div>
            </div>

            <div class="projectType">Animation</div>
        </div>
    </div>
</a>

                </div>
            
        
    </div> <!-- end .Projects-listWrap -->

</div> <!-- end .Projects-inner -->
